<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品测试管理</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
       <div class="navbar-header">
           <div id="navbar" class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                   <li><a href="/apismanage/">单一接口测试</a> </li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                   <li><a href="#">{{ user }}</a> </li>
                   <li><a href="/logout">退出</a> </li>
               </ul>
               </ul>
           </div>
       </div>
   </div>
</nav>
<div class="row" style="padding-top: 20px;">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>ID</td>
                <td>产品</td>
                <td>单一接口测试用例名称</td>
                <td>URl地址</td>
                <td>参数=值</td>
                <td>方法</td>
                <td>预期结果</td>
                <td>测试结果</td>
                <td>时间</td>
            </tr>
            </thead>
            <tbody>
            {% for apis in apiss %}
                <tr>
                <td>{{ apis.id }}</td>
                <td>{{ apis.apiname }}</td>
                <td>{{ apis.apiurl }}</td>
                <td>{{ apis.apiparamvalue }}</td>
                <td>{{ apis.apimethod }}</td>
                <td>{{ apis.apiresult }}</td>
                <td>{{ apis.apistatus }}</td>
                <td>{{ apis.create_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>