<!DOCTYPE html>

<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <title>登录</title>
<style> body{text-align:center} </style> 
</head>
<body>
<div>
    <h1>自动化平台</h1>
<form method="post" action="/login/">
{% csrf_token %}
<br><a>&nbsp;用户名：</a>
<input name="username" type="text" >
<br><br>  <a>&nbsp;密 &nbsp;&nbsp; 码：</a>
<input name="password" type="password">
<br>{{ error }}<br>
&nbsp; <button style="width:220px;height:28px;" id="submit" type="submit">登 录</button> 
</form>
</div>
</body>
</html>