<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品</title>
</head>
<body role="document">
<div class="row justify-content-end">
    <ul>
        <li class="nav-link"><a style="color:white" href="#">{{ user }}</a></li>
        <li class="nav-link"><a style="color:white" href="/logout/">退出</a></li>
    </ul>
</div>

<!--产品列表-->
<div class="row" style="padding-top: 20px">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <th>ID</th>
            <th>产品名称</th>
            <th>产品描述</th>
            <th>产品负责人</th>
            <th>创建时间</th>
            </thead>
            <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.productname }}</td>
                <td>{{ product.productdesc }}</td>
                <td>{{ product.producter }}</td>
                <td>{{ product.create_time }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>